:root {
	--main-bgi-gradient: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
}
::selection {
	background-color: orange;
	color: #fff;
}
/* 1rem = 10px */
html {
	font-size: 10px;
}

body {
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 1em;
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem 1rem;

	position: relative;
}

.nav-title {
	font-size: 2rem;
	font-weight: 500;
}

.burger {
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.line {
	display: inline-block;
	width: 20px;
	height: 2px;
	background-color: #000;
	margin: 2px;
	transition: all 0.3s ease-in-out;
}

.burger.active .line:first-child {
	transform: rotate(45deg) translate(2px, 8px);
}
.burger.active .line:last-child {
	transform: rotate(-45deg) translate(0px, -6px);
}
.burger.active .line:nth-child(2) {
	transform: translateX(200px);
}

.burger-nav {
	/* display: none; */
	position: absolute;
	right: 10px;
	top: 50px;
	transform: scale(0.000000001);
	transition: all 0.3s ease;
	padding: 1em;
	background-color: #2e2a2a;
}

.burger-nav.active {
	transform: scale(1);
	/* display: block; */
}

.nav-menu_link {
	margin-bottom: 0.6em;
	display: inline-block;
	font-size: 1rem;
	color: #ffd1ff;
}

.timeEvent {
	background-image: url(../img/adrian-korte-5gn2soeAc40-unsplash.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 100px;
	padding-bottom: 300px;
	text-align: center;
}

.timeEvent-title {
	font-size: 3rem;
	font-weight: 200;
}

.time {
	display: flex;
	justify-content: space-evenly;
	margin-top: 5rem;
	background-image: var(--main-bgi-gradient);
	padding: 2rem;
	font-size: 3rem;
	font-weight: 600;
	text-transform: uppercase;
	color: #fff;
}

.speakers {
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

.speakers-title {
	font-size: 30px;
	font-weight: 600;
	margin-bottom: 30px;
}

.speakers-subtitle {
	margin-bottom: 70px;
}

.speakers-wrapper {
	display: flex;
	row-gap: 30px;
	flex-direction: column;
	justify-content: space-between;
}

.speakers-wrapper_item-img {
	width: 100%;
	margin-bottom: 20px;
	position: relative;
}
.speakers-wrapper_item {
	position: relative;
}

.speakers-wrapper_item::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 77%;
	top: 0;
	left: 0;
	opacity: 0;
	background-image: var(--main-bgi-gradient);
	transition: all 0.5s;
}

.speakers-wrapper_item:hover::after {
	opacity: 0.7;
}

.speakers-wrapper_item-name {
	margin-bottom: 20px;
}

table {
	width: 100%;
	margin-bottom: 200px;
}
.table-title {
	text-align: center;
	padding: 10px 0;
}
thead tr td {
	border: 1px solid #000;
}
tbody tr td {
	text-align: right;
	padding: 10px 10px 50px;
	border: 1px solid #000;
	transition: background-image 0.3s;
}

td:hover {
	background-image: var(--main-bgi-gradient);
}

.hidden-item {
	color: gray;
}

@media (min-width: 700px) {
	html {
		font-size: 14px;
	}
}
/* 1rem = 14px */

@media (min-width: 1200px) {
	html {
		font-size: 18px;
	}
	.speakers-wrapper {
		column-gap: 30px;
		flex-direction: row;
	}

	.speakers-wrapper_item {
		width: calc(100% / 3 - 15px);
	}
}
/* 1rem = 18px */
