@import './utils/reset';
@import './utils/variables';
@import './utils/mixins';
@import './section/index';


body {
	font-family: $mainFonts;
}
.container { 
	max-width: 1500px;
	margin: 0 auto;
}
// .block {
// 	@include flex(flex-end);
// }
// // .breadcrumb {
// // 	display: flex;
// // 	justify-content: center;
// // 	max-width: 600px;
// // 	margin: 0 auto;

// // 	&__list {
// // 		background-color: red;
// // 		border-radius: 10px;
// // 	}
// // 	&__link {
// // 		color: aqua;
// // 		&-header {
// // 			box-shadow: 1px 1px black;
// // 		}
// // 	}
// // }
// // span {
// // 	color: $main-color;
// // }
// .title {
// 	@include typographyTitle($small);
// }
// .title1 {
// 	@include typographyTitle($large);
// }
