@import './utils/reset';
@import './utils/assets';
@import './utils/header';
@import './utils/contactUs';
@import './utils/footer';
@import './utils/modal';

@import './main/index';
@import './about/index';

body {
	font-family: $mainFonts;
}

.container {
	max-width: 1440px;
	margin: 0 auto;
	z-index: 1;
}

.main-color {
	color: $mainColor;
}
