$primary-color: #333;

@mixin flex($horizontal: center, $vertical: center) {
	display: flex;
	justify-content: $horizontal;
	align-items: $vertical;
}

h1 {
	color: $primary-color;
}

.parent {
	height: 200px;
    background-color: red;
	@include flex(space-between);
}
