:root {
	--primary-fonts: 'Hachi Maru Pop', cursive;
	--secondary-fonts: 'Poppins', sans-serif;
}

.dark-theme {
	--root-bgc: #363e3c;
	--root-bgc-body: #696969;
	--active-icon: white;
	--keyboard-bgc: #22252d;
	--keyboard-elem-bgc: #2a2d37;
	--color-buttons: #282b33;
}

.light-theme {
	--root-bgc: #e0e0e0;
	--root-bgc-body: #c5c5c5;
	--active-icon: #2e2a2a;
	--keyboard-bgc: #fff;
	--keyboard-elem-bgc: #d7d7d7;
	--color-buttons: #f7f7f7;
}

body {
	font-family: var(--primary-fonts);
	background-color: var(--root-bgc-body);
	transition: all 0.5s;
}

svg {
	cursor: pointer;
}

.change__theme {
	position: fixed;
	top: 50%;
	left: 2em;
	padding: 0.5em;
	transform: translateY(-50%);
	background: var(--root-bgc);
	border-radius: 8px;
}

.icon {
	color: grey;
}

.active {
	color: var(--active-icon);
}

#calculator-keyboard {
	border-radius: 10px;
	position: fixed;
	max-width: 800px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	background-color: var(--keyboard-bgc);
}

#calculator-keyboard-items {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 1em;
	background-color: var(--keyboard-elem-bgc);
	border-radius: 10px;
	padding: 1.5em;
}

.calculator-buttons {
	color: var(--active-icon);
	background-color: var(--color-buttons);
	font-weight: bold;
	border-radius: 5px;
	padding: 9px 4px;
	border: none;
	outline: none;
	display: inline-block;
}

.calculator-showNumbers {
	text-align: right;
	font-weight: bold;
	color: var(--active-icon);
	margin-block: 1em;
	font-size: 1.5em;
	padding-inline: 1.5em;
}

.calculator-showNumbers-old {
	color: var(--active-icon);
	text-align: right;
	padding-inline: 2em;
	margin-top: 1em;
	opacity: 0.7;
}
