@mixin flex($horizontal, $vertical: center) {
	display: flex;
	justify-content: $horizontal;
	align-items: $vertical;
}

@mixin mainBtn {
	padding: 18px 80px;
	border-radius: 10px;
	background-color: $main-color;
	color: #fff;
	font-weight: bold;
	line-height: 25px;
}

@mixin sectionTitle {
	font-size: 35px;
	line-height: 50px;
	font-weight: 500;
	color: #0B132A;
}
